

.sb-button {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  font-family: $font-primary;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: $dusty-orange-color;
  opacity: 0.5;
  color: $white-two-color;

  // types
  &-primary {
    opacity: 1;
    background-color: $dusty-orange-color;
    color: $white-two-color;
  }

  &-plain {
    background-color: transparent;
    color: $white-two-color;
    border: 3px solid $white-two-color;
  }
  &:focus{
    outline: none;
  }
}

