@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/**
*  fonts
*/
$font-primary: 'Montserrat', sans-serif; 
$font-secondary: 'Lato', sans-serif;

/**
*  colors
*/
$background-white-color: #e4e4e4;
$dusty-orange-color: #ff7424;
$charcoal-grey-color: #37474f;
$dark-color: #253036;
$viridian-color: #23945c;
$blue-grey-color: #85969d;
$dark-two-color: #17262a;
$white-color: #fafafa;
$white-two-color: #ffffff;
$very-light-pink-color: #dadada;
$very-light-pink-two-color: #ebebeb;
$light-grey-blue-color: #abb9be;
$orangey-red-color: #f23b38;
$maize-color: #ecd05d;
$slate-color: #495f69;

.lato{
    font-family: $font-secondary;
}
.flex{
    display: flex;
}
.charcoal-grey-color{
  background-color:  $charcoal-grey-color; 
  color: $white-two-color;
}
.very-light-pink-two-color{
    background-color: $very-light-pink-two-color;
}
.very-light-pink-color{
    background-color: $very-light-pink-color;
}
.white-color{
    background-color: $white-color;
}
.viridian-color{
    background-color: $viridian-color;
}
.dusty-orange-color{
    background-color: $dusty-orange-color;
}
.dusty-orange-color-text{
    color:$dusty-orange-color
}
.border-radius{
    border-radius: 10px;
}
.border-radius-top{
    border-radius: 10px 10px 0 0;
}
.overflow-hidden{
    overflow: hidden;
}
.border-radius-bottom{
    border-radius: 0 0 10px 10px;
}

.bold{
    font-weight: bold;
}
.line-through{
    text-decoration: line-through;
}
input::placeholder{
    color:$light-grey-blue-color;
}


